/* 1. html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f9f9f9; 
}

/* 2. BARRA DE NAVEGACIÓN (HEADER) */
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #ffffff; 
    padding: 20px 50px;
    border-bottom: 1px solid #eeeeee; 
}

.logo {
    color: #001f3f; 
    font-size: 24px;
    font-weight: 900;
    margin-right: 40px; 
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px; 
}

.nav-links a {
    color: #001f3f;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #d1411e; 
}

.separador {
    color: #d1411e; 
    font-size: 16px;
    font-weight: 300;
}

.social-icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
}

/* 3. BOTONES */
.hero {
    background-color: #0a2540; 
    height: 90vh; 
    display: flex;
    justify-content: flex-start; 
    align-items: flex-end; 
    padding: 80px 100px; 
}

.hero-content {
    color: white;
}

.hero-content h1 {
    font-size: 110px; 
    font-weight: 900;
    line-height: 0.85; 
    letter-spacing: -3px; 
    margin-bottom: 10px;
}

.letra-naranja {
    color: #d1411e; 
}

.hero-content p {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 3px; 
    color: #e0e0e0;
}
/* 4. SECCIÓN PRINCIPAL (HERO) */
.info-section {
    background-color: #1a2a3a; 
    color: white;
    padding: 80px 100px;
}

.info-section h2 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 40px;
    max-width: 400px;
    line-height: 1.1;
}

.info-columnas {
    display: flex; 
    gap: 50px; 
}

.info-columnas p {
    flex: 1; 
    font-size: 16px;
    line-height: 1.8; 
    color: #cccccc; 
}

/* 5. PIE DE PÁGINA (FOOTER) */
.footer {
    background-color: #ffffff; 
    color: #001f3f; 
    padding: 50px 100px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-top: 1px solid #eeeeee;
}

.footer-links a {
    color: #001f3f;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

.footer-contacto {
    text-align: right; 
}

.footer-contacto p {
    font-size: 13px;
    margin-bottom: 5px;
    color: #555555;
}